<ion-header >
  <ion-navbar color="secondary">
    <ion-title>
      Reddits
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<!-- <h2 [@myvisibility]='visibleState'>toggle me</h2> -->
	<ion-list>
		<ion-item>
			<ion-label fixed>Categary</ion-label>
			<ion-select (ionChange)="changeCat()" [(ngModel)]="categary" name="categary">
				<ion-option value='sports'>Sports</ion-option>
				<ion-option value='food'>Food</ion-option>
				<ion-option value='news'>News</ion-option>
				<ion-option value='music'>Music</ion-option>
				
			</ion-select>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-item *ngFor=" let item of items">
		<ion-thumbnail *ngIf="item.data.thumbnail" item-left>
			<img src="{{item.data.thumbnail}}" >
		</ion-thumbnail>
			<h2 [@myvisibility]='visibleState'>{{item.data.title}}</h2>
			<p>
				<ion-icon name="md-thumbs-up">{{item.data.score}}</ion-icon>&nbsp;&nbsp;
				<ion-icon name="md-chatboxes">{{item.data.num_comments}}</ion-icon>
			</p>
			<button ion-button clear item-right (click)="view(item.data)">View</button>
			<button ion-button clear item-right (click)="toggle()">toggle</button>
		</ion-item>
	</ion-list>
	
</ion-content>
